<template>
    <section class="hero is-info welcome is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ getPageTitle() }}</h1>
          <h2 class="subtitle">I hope you are having a great day!</h2>
        </div>
      </div>
    </section>
</template>

<script>
export default {
    
}
</script>