<template>
  <div>
    <div class="columns">
      <div class="column">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name:</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                    class="input is-primary"
                    type="text"
                    placeholder="Primary input"
                    :value="value"
                    @input="$emit('input', $event.target.value)"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
  },
};
</script>