<template>
  <div class="card">
    <div class="card-content">
      <p class="title has-text-left">
        Long
      </p>
      <div class="columns">
        <div class="column is-one-fifth">
          <figure class="image is-128x128">
            <img class="is-rounded" src="https://avatarfiles.alphacoders.com/752/75205.png">
          </figure>
        </div>
        <div class="column is-centered">Auto</div>
        <div class="column is-centered">Auto</div>
      </div>
    </div>
    <footer class="card-footer footer-item">
      <div class="buttons my-2 is-centered is-clickable">
        <button class="button is-info">Info</button>
        <button class="button is-success">Success</button>
        <button class="button is-warning">Warning</button>
        <button class="button is-danger">Danger</button>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => {
    return {
      data: []
    }
  }
}
</script>

<style>
  .footer-item {
    margin: 10px;
  }
</style>
