<template>
    <div>
        <Nav />
        <div class="container">
            <div class="columns">
                <div class="column is-3 ">
                    <Menu />
                </div>
                <div class="column is-9">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="../">Bulma</a></li>
                            <li><a href="../">Templates</a></li>
                            <li><a href="../">Examples</a></li>
                            <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
                        </ul>
                    </nav>

                    <PageTitle />
                    <router-view />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Nav from './child/Nav'
import Menu from './child/Menu.vue'
import PageTitle from './child/PageTitle.vue'
export default {
    components: {
        Nav,
        Menu,
        PageTitle
    }
}
</script>